:root {
  --off-white: #fcfcfc;
  --off-black: #222;

  --red: #ed315d;
  --green: #05b384;
  --yellow: #ffb60a;
}

body {
  background-color: var(--off-white);
  color: var(--off-black);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container {
  max-width: min-content;
  padding: 20rem 10rem;
}

.header {
  width: 100%;
  color: var(--off-black);
}

.header__title {
  font-size: 5rem;
}

.header__subtitle {
  margin-top: 3rem;
  font-size: 2.2rem;
  font-weight: 400;
}

.card-container {
  width: min-content;
  display: grid;
  justify-items: center;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 5rem 0;
}
