body {
  background-color: #f5f5f5;
  color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 5rem 8rem;
}

.card {
  height: 30rem;
  width: 40rem;

  background: linear-gradient(to bottom, #306a9c 50%, #26547c);
  box-shadow: 11px 11px 37px -18px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.3s;
}

.card:hover {
  transform: translate(2px, -5px);
  box-shadow: 11px 11px 37px -1px rgba(0, 0, 0, 0.3);
}

.card__figure {
  background-color: #ef476f;
  position: relative;
  height: 75%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figure__image {
  max-width: none;
  max-height: 130%;
  transition: all 0.5s;
}

.figure__cover {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, #000 20%, rgba(255, 0, 0, 0)) 40%;
  opacity: 0;
  transition: all 0.4s;
}

.card:hover .figure__cover {
  opacity: 60%;
}

.image-tiny {
  max-height: 150% !important;
}

.image-small {
  max-height: 135% !important;
}

.image-medium {
  max-height: 120% !important;
}

.image-big {
  max-height: 110% !important;
}

.image-full {
  max-height: 100% !important;
}

.card__content {
  padding: 1rem;
}

.content__name {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.content__tags {
  display: flex;
  gap: 1rem;
}

.content__tags p {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0.2rem 1rem;
  border-radius: 999px;
}

.tags--html {
  background-color: #ed315d;
}

.tags--css {
  background-color: #05b384;
}

.tags--javascript {
  background-color: #ffb60a;
}
