// COLOURS
$Strong-cyan: #26c0ab;

$Very-dark-cyan: #00494d;

$Dark-grayish-cyan: #5e7a7d;
$Grayish-cyan: #7f9c9f;

$Light-grayish-cyan: #c5e4e7;
$Very-light-grayish-cyan: #f4fafa;

$White: #ffffff;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: $Light-grayish-cyan;
}
