// COLOURS
$Strong-cyan: #26c0ab;

$Very-dark-cyan: #00494d;

$Dark-grayish-cyan: #5e7a7d;
$Grayish-cyan: #7f9c9f;

$Light-grayish-cyan: #c5e4e7;
$Very-light-grayish-cyan: #f4fafa;

$White: #ffffff;

// REUSE

%btn-gray {
  padding: 1.7rem;
  background-color: $Very-light-grayish-cyan;
  border-radius: 5px;
  color: $Very-dark-cyan;
  font-size: 2.4rem;
  text-align: right;
  border: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  background-color: $Light-grayish-cyan;
}
