.create {
  margin-bottom: 2.4rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.create__form {
  flex: 1;
  height: 100%;
}

.create__input {
  font-size: 1.8rem;

  font-weight: 400;
  color: var(--color-text);

  background-color: transparent;

  border: none;
  width: 100%;
  height: 100%;
  padding-right: 3rem;
}

.create__input::placeholder {
  color: var(--color-placeholder);
}

.create__input:focus {
  outline: none;
}
