.background {
  background-image: var(--img-background-banner);
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  max-width: calc(54rem + 10rem);

  margin: 0 auto 0 auto;
  padding: 7rem 2.4rem 5rem 2.4rem;
}
