.circle {
  width: 2.4rem;
  height: 2.4rem;
  margin: 2.4rem;

  background: linear-gradient(var(--color-solid), var(--color-solid))
      padding-box,
    var(--color-circle) border-box;
  border-radius: 50%;
  border: 1px solid transparent;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background: linear-gradient(var(--color-solid), var(--color-solid))
      padding-box,
    var(--color-gradient) border-box;
}

.clicked {
  background: url(../../assets/images/icon-check.svg),
    var(--color-gradient) border-box;
  background-position: center;
  background-size: 1.4rem, auto;
  background-repeat: no-repeat;
}
