// COLOURS

// ### Primary
$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);

// ### neutral
$gray-blue: hsl(217, 19%, 38%);
$dark-gray-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);

//RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 34em) {
    font-size: 50%;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  height: 100vh;
  height: 100dvh;
  font-family: 'Manrope', sans-serif;
  background-color: $dark-blue;

  display: flex;
  justify-content: center;
  align-items: center;
}
